/*css for the form */
/* line 3, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form[name="contact-form"] label { clear: both !important; font-size: 1.3em; font-weight: normal; }

/* line 9, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form[name="contact-form"] label[class="radio"], form[name="contact-form"] label[class="checkbox"] { margin-left: 7em; }

/* line 14, ../components/sass/_styles_jscc_oustyles_legacy.scss */
#content form label.radio { width: auto; text-align: left; display: block; }

/* line 20, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form[name="contact-form"] textarea { clear: both; }

/* line 24, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form[name="contact-form"] input, form[name="contact-form"] textarea, form[name="contact-form"] select { margin-bottom: 1em; }

/* line 31, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form[name="contact-form"] .control-label { padding-top: 10px; }

/* line 35, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form[name="contact-form"] .form-actions { clear: both; }

/* line 39, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

/* line 47, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.input-block-level { display: block; width: 100%; min-height: 28px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

/* line 57, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-important, .badge-important { background-color: #b94a48; }

/* line 62, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-important[href], .badge-important[href] { background-color: #953b39; }

/* line 67, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-warning, .badge-warning { background-color: #f89406; }

/* line 72, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-warning[href], .badge-warning[href] { background-color: #c67605; }

/* line 77, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-success, .badge-success { background-color: #468847; }

/* line 82, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-success[href], .badge-success[href] { background-color: #356635; }

/* line 87, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-info, .badge-info { background-color: #3a87ad; }

/* line 92, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-info[href], .badge-info[href] { background-color: #2d6987; }

/* line 97, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-inverse, .badge-inverse { background-color: #333333; }

/* line 102, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.label-inverse[href], .badge-inverse[href] { background-color: #1a1a1a; }

/* line 107, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms { margin: 0 0 18px; }

/* line 111, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms fieldset { padding: 0; margin-bottom: 22px; border: 1px solid #e5e5e5; border-left: none; border-right: none; }

/* line 119, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms legend { display: block; width: 100%; padding: 0; margin-bottom: -15px; font-size: 19.5px; line-height: 36px; color: #333333; border: 0; border-bottom: 1px solid #e5e5e5; }

/* line 131, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms legend small { font-size: 13.5px; color: #999999; }

/* line 136, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms label, form.ldpforms input, form.ldpforms button, form.ldpforms select, form.ldpforms textarea { font-size: 13px; font-weight: normal; line-height: 18px; }

/* line 146, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms input, form.ldpforms button, form.ldpforms select, textarea { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 153, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms label { display: block; margin-bottom: 5px; }

/* line 158, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms select, form.ldpforms textarea, form.ldpforms input[type="text"], form.ldpforms input[type="password"], form.ldpforms input[type="datetime"], form.ldpforms input[type="datetime-local"], form.ldpforms input[type="date"], form.ldpforms input[type="month"], form.ldpforms input[type="time"], form.ldpforms input[type="week"], form.ldpforms input[type="number"], form.ldpforms input[type="email"], form.ldpforms input[type="url"], form.ldpforms input[type="search"], form.ldpforms input[type="tel"], form.ldpforms input[type="color"], .uneditable-input { display: inline-block; height: 18px; padding: 4px; margin-bottom: 9px; font-size: 13px; line-height: 18px; color: #555555; }

/* line 184, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms textarea { height: auto; }

/* line 188, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms textarea, form.ldpforms input[type="text"], form.ldpforms input[type="password"], form.ldpforms input[type="datetime"], form.ldpforms input[type="datetime-local"], form.ldpforms input[type="date"], form.ldpforms input[type="month"], form.ldpforms input[type="time"], form.ldpforms input[type="week"], form.ldpforms input[type="number"], form.ldpforms input[type="email"], form.ldpforms input[type="url"], form.ldpforms input[type="search"], form.ldpforms input[type="tel"], form.ldpforms input[type="color"], .uneditable-input { background-color: #ffffff; border: 1px solid #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -ms-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s; }

/* line 219, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms textarea:focus, form.ldpforms input[type="text"]:focus, form.ldpforms input[type="password"]:focus, form.ldpforms input[type="datetime"]:focus, form.ldpforms input[type="datetime-local"]:focus, form.ldpforms input[type="date"]:focus, form.ldpforms input[type="month"]:focus, form.ldpforms input[type="time"]:focus, form.ldpforms input[type="week"]:focus, form.ldpforms input[type="number"]:focus, form.ldpforms input[type="email"]:focus, form.ldpforms input[type="url"]:focus, form.ldpforms input[type="search"]:focus, form.ldpforms input[type="tel"]:focus, form.ldpforms input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted \9; /* IE6-9 */ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

/* line 244, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms input[type="radio"], form.ldpforms input[type="checkbox"] { margin: 3px 0; *margin-top: 0; /* IE7 */ line-height: normal; cursor: pointer; }

/* line 253, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms input[type="submit"], form.ldpforms input[type="reset"], form.ldpforms input[type="button"], form.ldpforms input[type="radio"], form.ldpforms input[type="checkbox"] { width: auto; }

/* line 261, ../components/sass/_styles_jscc_oustyles_legacy.scss */
.uneditable-textarea { width: auto; height: auto; }

/* line 266, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms select, form.ldpforms input[type="file"] { height: 28px; /* In IE7, the height of the select element cannot be changed by height, only font-size */ *margin-top: 4px; /* For IE7, add top margin to align select with labels */ line-height: 28px; }

/* line 275, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms select { width: 220px; border: 1px solid #bbb; }

/* line 280, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms select[multiple], form.ldpforms select[size] { height: auto; }

/* line 285, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms select:focus, form.ldpforms input[type="file"]:focus, form.ldpforms input[type="radio"]:focus, form.ldpforms input[type="checkbox"]:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

/* line 294, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms input[class*="span"], form.ldpforms select[class*="span"], form.ldpforms textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid .uneditable-input[class*="span"] { float: none; margin-left: 0; }

/* line 303, ../components/sass/_styles_jscc_oustyles_legacy.scss */
form.ldpforms input, form.ldpforms textarea, .uneditable-input { margin-left: 0; }

/* line 1, ../components/sass/_styles_jscc_hottopics.scss */
div.hottopic h2 { border-bottom: white 2px solid; background: no-repeat top; padding: 5px 5px 5px 10px; color: white; font-size: 1.5em; margin: 0; font-family: Arial, Helvetica, Tahoma, sans-serif; }

/* line 11, ../components/sass/_styles_jscc_hottopics.scss */
div.orange h2 { background-color: #ce812c; background-image: url("/_resources/images/hot-orange-top.gif"); }

/* line 16, ../components/sass/_styles_jscc_hottopics.scss */
div.yellow h2 { background-color: #e7b425; background-image: url("/_resources/images/hot-yellow-top.gif"); }

/* line 21, ../components/sass/_styles_jscc_hottopics.scss */
div.brown h2 { background-color: #808062; background-image: url("/_resources/images/hot-brown-top.gif"); }

/* line 26, ../components/sass/_styles_jscc_hottopics.scss */
div.athletics { background: url("/_resources/images/hot-athletics.jpg") no-repeat bottom; }

/* line 30, ../components/sass/_styles_jscc_hottopics.scss */
div.survey { background: url("/_resources/images/hot-survey.jpg") no-repeat bottom; }

/* line 34, ../components/sass/_styles_jscc_hottopics.scss */
div.fasttrack { background: url("/_resources/images/hot-fasttrack.jpg") no-repeat bottom; }

/* line 38, ../components/sass/_styles_jscc_hottopics.scss */
div.schedule { background: url("/_resources/images/hot-schedule.png") no-repeat bottom; }

/* line 42, ../components/sass/_styles_jscc_hottopics.scss */
div.photo { background: url("/_resources/images/hot-photo.jpg") no-repeat bottom; }

/* line 46, ../components/sass/_styles_jscc_hottopics.scss */
li.hottopic .action { background-image: url(/_resources/images/hotarrow.png); }

/* line 1, ../components/sass/_styles_jscc_screen4.scss */
body { font-family: 'Droid Sans', Helvetica, Arial, sans-serif; font-weight: 400; }

/* line 6, ../components/sass/_styles_jscc_screen4.scss */
#breadcrumbs { color: #666; font-size: 1.1em; }

/* line 11, ../components/sass/_styles_jscc_screen4.scss */
#breadcrumbs a:link { text-decoration: none; color: #666; }

/* line 16, ../components/sass/_styles_jscc_screen4.scss */
#breadcrumbs a:hover { background-color: transparent; }

/* line 20, ../components/sass/_styles_jscc_screen4.scss */
h1, h2, h3, h4 { font-family: 'Droid Serif', Georgia, Times, serif; }

/* line 27, ../components/sass/_styles_jscc_screen4.scss */
hr { color: #ddddd5; background-color: #ddddd5; height: 1px; clear: both; }

/* line 39, ../components/sass/_styles_jscc_screen4.scss */
#content a:link, #content a:visited { color: #1c7c3e; text-decoration: underline; }

/* line 45, ../components/sass/_styles_jscc_screen4.scss */
#content ul, #content ol { margin-left: 2em; }

/* line 51, ../components/sass/_styles_jscc_screen4.scss */
#content ul ul, #content ol ol, #content ul ol, #content ol ul { margin-left: 2em; }

/* line 59, ../components/sass/_styles_jscc_screen4.scss */
#content ul { list-style: disc outside; }

/* line 63, ../components/sass/_styles_jscc_screen4.scss */
#content ol { list-style: decimal outside; }

/* line 69, ../components/sass/_styles_jscc_screen4.scss */
#content address { font-size: 1.3em; line-height: 1.6em; background: url(./_resources/images/letter.png) no-repeat left top; padding-left: 60px; }

/* line 76, ../components/sass/_styles_jscc_screen4.scss */
#content dl { margin-left: 2em; }

/* line 80, ../components/sass/_styles_jscc_screen4.scss */
#content dt { font-size: 1.5em; font-weight: bold; background-image: url(./_resources/images/icons/roundarrow.png); background-repeat: no-repeat; background-position: 0 center; padding-left: 16px; margin-bottom: 0.5em; }

/* line 90, ../components/sass/_styles_jscc_screen4.scss */
#content dd { font-size: 1.4em; line-height: 1.5em; margin: 0 0 1.5em 16px; }

/* line 96, ../components/sass/_styles_jscc_screen4.scss */
#content blockquote { background-color: #f2f2e8; font-size: 1.4em; line-height: 1.6em; margin: 1em 4em; padding: 1em; }

/* line 104, ../components/sass/_styles_jscc_screen4.scss */
#skip { text-align: right; }

/* line 108, ../components/sass/_styles_jscc_screen4.scss */
#skip a, #skip a:hover, #skip a:visited { position: absolute; left: 0; top: -500px; width: 1px; height: 1px; overflow: hidden; }

/* line 119, ../components/sass/_styles_jscc_screen4.scss */
#skip a:active { position: static; width: auto; height: auto; }

/*div.sgainfo{width:50em;height:30em}*/
/* line 128, ../components/sass/_styles_jscc_screen4.scss */
th, td { padding: 8px 1em 8px 0; }

/* line 133, ../components/sass/_styles_jscc_screen4.scss */
th { font-weight: bold; border-bottom: #4e4e25 solid 1px; }

/* line 138, ../components/sass/_styles_jscc_screen4.scss */
td { border-bottom: #ddddd5 solid 1px; }

/* line 142, ../components/sass/_styles_jscc_screen4.scss */
tbody tr:hover { background-color: #f2f2e8; }

/* line 146, ../components/sass/_styles_jscc_screen4.scss */
caption { font-size: 1.4em; margin-top: 1.5em; margin-bottom: 1em; font-style: italic; }

/* line 153, ../components/sass/_styles_jscc_screen4.scss */
th:last-child, td:last-child { padding-right: 0; }

/* line 158, ../components/sass/_styles_jscc_screen4.scss */
table tr:first-child { border-top: #4e4e25 solid 1px; }

/* line 162, ../components/sass/_styles_jscc_screen4.scss */
table.curriculum { float: left; width: 45%; margin-bottom: 2em; margin-right: 2em; }

/* line 169, ../components/sass/_styles_jscc_screen4.scss */
table.curriculum td { width: 30%; }

/* line 173, ../components/sass/_styles_jscc_screen4.scss */
table.curriculum td + td { width: 70%; }

/* line 177, ../components/sass/_styles_jscc_screen4.scss */
table.curriculum td + td + td { width: 10%; text-align: right; }

/* line 182, ../components/sass/_styles_jscc_screen4.scss */
table.curriculum + table.curriculum + table.curriculum + table.curriculum, table.curriculum + table.curriculum + table.curriculum + table.curriculum + table.curriculum + table.curriculum { clear: none; }

/* line 187, ../components/sass/_styles_jscc_screen4.scss */
table.curriculum caption { font-size: 1.3em; color: #4e4e25; }

/* line 192, ../components/sass/_styles_jscc_screen4.scss */
#sidenav { position: absolute; width: 180px; margin-right: 50px; top: 24px; left: 35px; }

/* line 200, ../components/sass/_styles_jscc_screen4.scss */
#sidenav .navtitle { font-size: 1.8em; font-family: 'Droid Serif', Georgia, Times, serif; font-weight: 400; }

/* line 206, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul { list-style: none; width: 100%; }

/* line 211, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul a { font-size: 1.3em; display: block; padding: 1em 10px 1em 0; }

/* line 217, ../components/sass/_styles_jscc_screen4.scss */
#sidenav li:first-child { border-top-style: none; }

/* line 221, ../components/sass/_styles_jscc_screen4.scss */
#sidenav a:link, #sidenav a:visited { text-decoration: none; color: gray; }

/* line 227, ../components/sass/_styles_jscc_screen4.scss */
#sidenav a:hover, #sidenav a:active { color: #000; background: url(/_resources/images/sidenavgrad.jpg) repeat-y top right #c5d1d4; }

/* line 233, ../components/sass/_styles_jscc_screen4.scss */
#sidenav li, #sidenav li:hover { position: relative; }

/* line 238, ../components/sass/_styles_jscc_screen4.scss */
#sidenav li ul { position: absolute; top: -21px; left: 100.1%; display: none; }

/* line 245, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul ul { display: none; border: solid 1px #6699a6; background-color: #FFF; }

/* line 251, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul ul a { background-color: #fefefe; color: #000; text-align: left; padding: 1em 0 1em 5px; }

/* line 258, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul ul a:hover { background-color: #c5d1d4; text-decoration: none; }

/* line 263, ../components/sass/_styles_jscc_screen4.scss */
#sidenav a.x, #sidenav a.x:visited { background: url(/_resources/images/menuarrow.png) no-repeat center right; }

/* line 268, ../components/sass/_styles_jscc_screen4.scss */
#sidenav a.x:hover, #sidenav a.x:active { background: url(/_resources/images/menu-grad-arrow-down.jpg) repeat-y center left #c5d1d4; }

/* line 273, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul ul a.x, #sidenav ul ul a.x:visited, #sidenav ul ul a.x:hover, #sidenav ul ul a.x:active { background: none; }

/* line 280, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul ul a.x:hover { background: url(/_resources/images/sidenavgrad.jpg) repeat-y top right #c5d1d4; text-decoration: none; }

/* line 285, ../components/sass/_styles_jscc_screen4.scss */
p.required, span.required { color: red; }

/* line 290, ../components/sass/_styles_jscc_screen4.scss */
.fbtextinput { margin-bottom: 1em; font-size: 1.3em; }

/* line 295, ../components/sass/_styles_jscc_screen4.scss */
.textfieldRequiredMsg { font-style: italic; font-size: .8em; color: red; }

/* line 301, ../components/sass/_styles_jscc_screen4.scss */
.captcha { width: 200px; text-align: center; margin: 0.5em 0; }

/* line 307, ../components/sass/_styles_jscc_screen4.scss */
.captcha img { border: 1px solid #F60; margin-bottom: 0.5em; }

/* line 312, ../components/sass/_styles_jscc_screen4.scss */
.captcha input { width: 196px; margin-top: 0.5em; }

/* line 317, ../components/sass/_styles_jscc_screen4.scss */
#content #nursepoints input { width: 5em; }

/* line 321, ../components/sass/_styles_jscc_screen4.scss */
#subnav { width: 226px; float: right; background: #ddddd5 url(/_resources/images/hot-bottom.gif) no-repeat bottom; min-height: 175px; margin: 0 0 20px 20px; }

/* line 329, ../components/sass/_styles_jscc_screen4.scss */
#subnav h2 { border-bottom: #FFF 2px solid; background: no-repeat top; color: #FFF; font-size: 1.7em; background-color: #ce812c; background-image: url("/_resources/images/hot-orange-top.gif"); font-family: 'Droid Sans', Helvetica, Arial, sans-serif; font-weight: 700; margin: 0; padding: 8px; }

/* line 342, ../components/sass/_styles_jscc_screen4.scss */
#subnav h4 { padding: 0 0 0 .9em; margin-bottom: 0; }

/* line 347, ../components/sass/_styles_jscc_screen4.scss */
#subnav ul { list-style-type: none; font-size: 1.3em; margin: 0; padding: 1em; }

/* line 354, ../components/sass/_styles_jscc_screen4.scss */
#subnav p { font-size: 1.2em; }

/* line 358, ../components/sass/_styles_jscc_screen4.scss */
#utilitybarWrap { background: #f2f2e8; clear: both; overflow: hidden; width: 100%; margin: 0 auto; padding: 16px 0 18px; }

/* line 367, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar { width: 980px; margin: 0 auto; }

/* line 372, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar ul { margin-left: 40px; }

/* line 376, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar li { float: left; margin-right: 50px; padding-left: 52px; position: relative; }

/* line 383, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar p.footerheading { font-size: 1.3em; font-weight: bold; margin: 1px 0 0; padding: 0; color: black; }

/* line 391, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar p { font-size: 1em; color: #666; margin-top: 3px; }

/* line 397, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar img { position: absolute; top: -6px; left: 0; }

/* line 403, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar a:link p, #utilitybar a:visited p { text-decoration: none; color: #000; }

/* line 409, ../components/sass/_styles_jscc_screen4.scss */
#utilitybar a:hover p, #utilitybar a:active p { text-decoration: underline; color: gray; }

/* line 415, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li a { display: block; outline: none; height: 24px; background: transparent url(/_resources/images/icons.png) no-repeat 0 0; text-indent: -9999px; }

/* line 423, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li:first-child a { margin-left: 0; }

/* line 427, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-twitter a { width: 22px; background-position: 0 0; }

/* line 432, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-twitter a:hover { background-position: 0 -2px; }

/* line 436, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-facebook a { width: 22px; background-position: -21px 0; }

/* line 441, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-facebook a:hover { background-position: -21px -2px; }

/* line 445, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-youtube a { width: 22px; background-position: -43px 0; }

/* line 450, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-youtube a:hover { background-position: -43px -2px; }

/* line 454, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-blog a { width: 22px; background-position: -67px 0; }

/* line 459, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-blog a:hover { background-position: -67px -2px; }

/* line 463, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-flickr a { width: 22px; background-position: -89px 0; }

/* line 468, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-flickr a:hover { background-position: -89px -2px; }

/* line 472, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-linkedin a { width: 22px; background-position: -109px 0; }

/* line 477, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-linkedin a:hover { background-position: -109px -2px; }

/* line 481, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-plus { margin-top: 3px; margin-left: 8px; }

/* line 486, ../components/sass/_styles_jscc_screen4.scss */
ul#follow li#follow-plus { margin-top: 0; }

/* line 490, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice { margin: 0 20px; padding: 150px 360px 30px 50px; background-repeat: no-repeat; }

/* line 496, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice { font-family: helvetica, arial, sans-serif; font-size: 1.4em; }

/* line 501, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice p { line-height: 1.4em; margin-bottom: 2em; }

/* line 506, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice a:link, body#index #notice a:visited { color: #2d597f; text-decoration: none; }

/* line 512, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice a:hover { text-decoration: underline; }

/* line 516, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice2 { font-family: helvetica, arial, sans-serif; font-size: 1.4em; margin: 0 20px; padding: 10px 50px 50px 110px; }

/* line 523, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice2 h2 { font-size: 200%; margin-bottom: 70px; }

/* line 528, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice2 a:link, body#index #notice2 a:visited { color: black; text-decoration: underline; }

/* line 534, ../components/sass/_styles_jscc_screen4.scss */
body#index #notice2 a:hover { color: #f0c11d; }

/* line 538, ../components/sass/_styles_jscc_screen4.scss */
body#index #content { float: none; display: block; width: 980px; margin-top: 0; padding-top: 0; }

/* line 546, ../components/sass/_styles_jscc_screen4.scss */
body#index .news { line-height: 1.2em; }

/* line 550, ../components/sass/_styles_jscc_screen4.scss */
body#index #contentWrapper { width: 980px; margin-top: 0; padding-top: 0; }

/* line 556, ../components/sass/_styles_jscc_screen4.scss */
body#index p.seeall { border-top: 1px #aeae9f solid; padding-top: 4px; font-weight: bold; }

/* line 562, ../components/sass/_styles_jscc_screen4.scss */
body#index #rightcolumn { float: left; width: 450px; }

/* line 567, ../components/sass/_styles_jscc_screen4.scss */
body#index #leftcolumn { float: left; width: 450px; margin-right: 39px; margin-left: 20px; }

/* line 574, ../components/sass/_styles_jscc_screen4.scss */
body#index #rightcolumn a:link, body#index #leftcolumn a:link, body#index #rightcolumn a:visited, body#index #leftcolumn a:visited { text-decoration: none; }

/* line 581, ../components/sass/_styles_jscc_screen4.scss */
body#index table#indexcal tr { background-color: #FFF; color: #4e4e25; }

/* line 586, ../components/sass/_styles_jscc_screen4.scss */
body#index table#indexcal td { vertical-align: top; line-height: 1.4em; margin-left: 0; padding-left: 0; border-style: none; }

/* line 594, ../components/sass/_styles_jscc_screen4.scss */
body#index table#indexcal td + td { padding-left: 12px; vertical-align: top; font-weight: normal; }

/* line 600, ../components/sass/_styles_jscc_screen4.scss */
body#index #mast { width: 940px; height: 162px; }

/* line 605, ../components/sass/_styles_jscc_screen4.scss */
body#index a#logo { margin-left: 30px; }

/* line 609, ../components/sass/_styles_jscc_screen4.scss */
a#logo img { border: 0; }

/* line 613, ../components/sass/_styles_jscc_screen4.scss */
body#index #featurenews { background: url("/_resources/images/feature-top.png") no-repeat top left #f2f2e8; font-size: .9em; padding: 0; }

/* line 619, ../components/sass/_styles_jscc_screen4.scss */
body#index #featurenews div { background: url("/_resources/images/feature-bottom.png") no-repeat bottom left; overflow: hidden; padding: 0 14px 7px; }

/* line 625, ../components/sass/_styles_jscc_screen4.scss */
body#index #featurenews p { color: #6d6654; margin-top: 0; padding-top: 0; }

/* line 631, ../components/sass/_styles_jscc_screen4.scss */
body#index #featurenews h3 { line-height: 1.4em; padding-top: 27px; margin-top: 0; text-shadow: 1px 1px 1px #ffffff; }

/* line 638, ../components/sass/_styles_jscc_screen4.scss */
#sidenews { font-size: .9em; padding: 0; width: 250px; float: right; margin-left: 1em; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #DDDDD5; padding: 1em; }

/* line 651, ../components/sass/_styles_jscc_screen4.scss */
#sidenews p { font-family: arial, helvetica, sans-serif; color: #6d6654; margin-top: 0; padding-top: 0; font-size: 1.3em; line-height: 1.5em; }

/* line 660, ../components/sass/_styles_jscc_screen4.scss */
#sidenews h2 { margin: 0 0 1em 0; }

/* line 664, ../components/sass/_styles_jscc_screen4.scss */
#sidenews h3 { font-family: arial, helvetica, sans-serif; line-height: 1.4em; margin-top: 0; font-size: 1.5em; margin-bottom: .5em; }

/* line 672, ../components/sass/_styles_jscc_screen4.scss */
#sidenews span { margin-bottom: 1em; padding-bottom: 1em; height: 105px; display: block; }

/* line 679, ../components/sass/_styles_jscc_screen4.scss */
#sidenews a:link, #featurenews a:visited { text-decoration: underline; }

/* line 684, ../components/sass/_styles_jscc_screen4.scss */
#sidenews a:hover, #featurenews a:active { font-weight: bold; }

/* line 689, ../components/sass/_styles_jscc_screen4.scss */
.hidden { display: none; }

/* line 693, ../components/sass/_styles_jscc_screen4.scss */
.structural { position: absolute; left: -9999px; }

/* line 698, ../components/sass/_styles_jscc_screen4.scss */
.picboxleft { margin-left: 16px; margin-bottom: 1px; float: right; width: 180px; color: #999; text-align: center; }

/* line 707, ../components/sass/_styles_jscc_screen4.scss */
.picboxright { margin-right: 16px; margin-bottom: 1px; float: left; width: 180px; color: #999; text-align: center; }

/* line 716, ../components/sass/_styles_jscc_screen4.scss */
.degree { color: #666; font-size: 1.5em; margin-top: -1.8em; margin-bottom: 2em; }

/* line 723, ../components/sass/_styles_jscc_screen4.scss */
.credit { float: right; }

/* line 727, ../components/sass/_styles_jscc_screen4.scss */
.courset { float: left; }

/* line 731, ../components/sass/_styles_jscc_screen4.scss */
.photo { background-color: white; padding: 3px; border: 1px #999999 solid; box-shadow: 6px 6px 10px #aaaaaa; }

/* line 738, ../components/sass/_styles_jscc_screen4.scss */
.floatleft, .photoleft { float: left; margin-right: 1em; margin-bottom: 0.5em; }

/* line 745, ../components/sass/_styles_jscc_screen4.scss */
.floatright, .photoright { float: right; margin-left: 1em; margin-bottom: 0.5em; }

/* line 752, ../components/sass/_styles_jscc_screen4.scss */
img.floatleft.photo { margin-right: 2em; }

/* line 756, ../components/sass/_styles_jscc_screen4.scss */
#searchwidget { border: 1px #afc09e solid; padding: 8px; background-color: #e9f0d4; }

/* line 762, ../components/sass/_styles_jscc_screen4.scss */
#searchwidget select { margin: 0; padding: 0; }

/* line 767, ../components/sass/_styles_jscc_screen4.scss */
#searchwidget input { margin: 0; }

/* line 771, ../components/sass/_styles_jscc_screen4.scss */
#searchwidget p { margin: 6px 0; }

/* line 775, ../components/sass/_styles_jscc_screen4.scss */
#searchwidget form { padding: 0; margin: 0; }

/* line 780, ../components/sass/_styles_jscc_screen4.scss */
.largertext { font-size: 115%; }

/* line 784, ../components/sass/_styles_jscc_screen4.scss */
.smallertext { font-size: 80%; }

/* line 788, ../components/sass/_styles_jscc_screen4.scss */
p.courses { font-size: 1.5em; line-height: 1.8em; }

/* line 793, ../components/sass/_styles_jscc_screen4.scss */
.staff { float: left; width: 330px; margin-bottom: 1em; padding-right: 2em; height: 120px; }

/* line 801, ../components/sass/_styles_jscc_screen4.scss */
#content .staff p { font-size: 1.3em; line-height: 1.6em; }

/* line 806, ../components/sass/_styles_jscc_screen4.scss */
a.more { background: transparent url(/_resources/images/icons/glass.png) no-repeat center right; font-weight: bold; padding: 5px 16px 5px 0; }

/* line 812, ../components/sass/_styles_jscc_screen4.scss */
#content .staff .more:link, #content .staff .more:visited { color: #000; text-decoration: none; }

/* line 818, ../components/sass/_styles_jscc_screen4.scss */
.title { font-size: 1.6em; color: #999; margin-top: -24px; font-style: italic; }

/* line 825, ../components/sass/_styles_jscc_screen4.scss */
.nowrap { white-space: nowrap; }

/* line 829, ../components/sass/_styles_jscc_screen4.scss */
.column2 { float: left; width: 44%; margin-right: 4%; }

/* line 835, ../components/sass/_styles_jscc_screen4.scss */
#content div.degree + p { line-height: 1.4em; }

/* line 839, ../components/sass/_styles_jscc_screen4.scss */
#content ul.col3list { list-style: none; margin-left: 0; margin-bottom: 4em; }

/* line 845, ../components/sass/_styles_jscc_screen4.scss */
#content ul.col3list li { float: left; width: 32%; height: 2em; }

/* line 851, ../components/sass/_styles_jscc_screen4.scss */
a[href$='.doc'], a[href$='.docx'] { background: transparent url(/_resources/images/icons/icon_doc.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 857, ../components/sass/_styles_jscc_screen4.scss */
a[href$='.xls'], a[href$='.xlsx'] { background: transparent url(/_resources/images/icons/icon_xls.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 863, ../components/sass/_styles_jscc_screen4.scss */
a.rss, a[href$='.rss'], a[href$='.atom'] { background: transparent url(/_resources/images/icons/icon_feed.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 870, ../components/sass/_styles_jscc_screen4.scss */
a[href$='.vcard'] { background: transparent url(/_resources/images/icons/icon_vcard.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 875, ../components/sass/_styles_jscc_screen4.scss */
a[href$='.pps'], a[href$='.ppt'], a[href$='.pptx'] { background: transparent url(/_resources/images/icons/icon_pps.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 882, ../components/sass/_styles_jscc_screen4.scss */
a[href$='.pdf'] { background: transparent url(/_resources/images/icons/icon_pdf.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 887, ../components/sass/_styles_jscc_screen4.scss */
a.ical, a[href$='.ical'] { background: transparent url(/_resources/images/icons/icon_ical.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 893, ../components/sass/_styles_jscc_screen4.scss */
a.facebook { background: transparent url(/_resources/images/icons/facebook-icon.jpg) no-repeat center right; padding: 5px 20px 5px 5px; }

/* line 898, ../components/sass/_styles_jscc_screen4.scss */
a[href^="mailto:"] { background: transparent url(/_resources/images/icons/icon_mailto.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 903, ../components/sass/_styles_jscc_screen4.scss */
.imageLink { padding-right: 0 !important; background: none !important; }

/* line 908, ../components/sass/_styles_jscc_screen4.scss */
a[class~="external"] { padding-right: 18px; background: url(/_resources/images/icons/external6.gif) no-repeat right center; }

/* line 913, ../components/sass/_styles_jscc_screen4.scss */
.action { background-image: url(/_resources/images/icons/roundarrow.png); background-repeat: no-repeat; background-position: 0 center; padding-left: 1.31em; }

/* line 920, ../components/sass/_styles_jscc_screen4.scss */
#acrobat { font-size: 1em; background-image: url(/_resources/images/icons/acroback.jpg); background-repeat: repeat-x; height: 31px; margin-top: 12px; margin-bottom: 12px; border: solid 1px #d8d8d8; line-height: 1.2em; padding: 4px; }

/* line 932, ../components/sass/_styles_jscc_screen4.scss */
#acrobat img { float: left; margin-right: 10px; }

/* line 937, ../components/sass/_styles_jscc_screen4.scss */
table#academiccal td { white-space: nowrap; vertical-align: top; }

/* line 942, ../components/sass/_styles_jscc_screen4.scss */
table#academiccal td + td { white-space: normal; vertical-align: top; }

/* line 947, ../components/sass/_styles_jscc_screen4.scss */
div#businesscal { border: 1px solid silver; background: #FFF; padding: 1em; width: 350px; float: right; margin-left: 2em; }

/* line 956, ../components/sass/_styles_jscc_screen4.scss */
div#businesscal table { font-size: 1.1em; font-weight: normal; margin-top: 10px; border-style: none; }

/* line 963, ../components/sass/_styles_jscc_screen4.scss */
div#businesscal tr { border-style: none; }

/* line 967, ../components/sass/_styles_jscc_screen4.scss */
div#businesscal tr + tr { border-top: 1px solid silver; }

/* line 971, ../components/sass/_styles_jscc_screen4.scss */
div#businesscal td { font-weight: bold; border-style: none; padding: 6px; }

/* line 977, ../components/sass/_styles_jscc_screen4.scss */
h2 + table { margin-top: 0.5em; }

/* line 981, ../components/sass/_styles_jscc_screen4.scss */
.studentblogs { font-size: 1.2em; clear: both; border: 1px solid #000; height: 118px; width: 350px; margin-bottom: 1em; background-color: #FFF; padding: 4px; }

/* line 992, ../components/sass/_styles_jscc_screen4.scss */
.studentblogs img { float: left; margin-right: 1em; }

/* line 997, ../components/sass/_styles_jscc_screen4.scss */
.studentblogs a { font-size: 1.2em; }

/* line 1001, ../components/sass/_styles_jscc_screen4.scss */
#breadcrumbs a:visited, #breadcrumbs a:active { color: #666; }

/* line 1006, ../components/sass/_styles_jscc_screen4.scss */
h3, h4, table.curriculum + table.curriculum + table.curriculum, table.curriculum + table.curriculum + table.curriculum + table.curriculum + table.curriculum, table.curriculum + p, .column2 + p { clear: both; }

/* line 1015, ../components/sass/_styles_jscc_screen4.scss */
#footer #copyright a:link, #footer #copyright a:visited { font-weight: bold; }

/* line 1020, ../components/sass/_styles_jscc_screen4.scss */
#content a:hover, #content a:active, #footer a:hover, #footer a:active { color: #69645c; text-decoration: underline; }

/* line 1028, ../components/sass/_styles_jscc_screen4.scss */
#search_form #submit, ul#nav li, ul#follow li { display: block; float: left; }

/* line 1035, ../components/sass/_styles_jscc_screen4.scss */
ul#nav li:first-child a, #utilitybar li.last { margin-right: 0; }

/* line 1040, ../components/sass/_styles_jscc_screen4.scss */
ul#nav li a:hover, ul#nav li#nav-acad a:hover, ul#follow li a:hover { background-position: 0 -20px; }

/* line 1046, ../components/sass/_styles_jscc_screen4.scss */
#sidenav li, #sidenav li li { border-top: 1px solid #6699A6; }

/* line 1051, ../components/sass/_styles_jscc_screen4.scss */
#sidenav ul li:hover ul, #content ul.col3list li a { display: block; }

/* line 1058, ../components/sass/_styles_jscc_screen4.scss */
body#index #rightcolumn a:hover, body#index #leftcolumn a:hover, body#index #rightcolumn a:active, body#index #leftcolumn a:active, #content .staff .more:hover, #content #content .staff .more:hover, #content .staff .more:active { text-decoration: underline; }

/* line 1068, ../components/sass/_styles_jscc_screen4.scss */
#content .column2 p, div#businesscal h2 { margin-top: 0; }

/* line 1073, ../components/sass/_styles_jscc_screen4.scss */
a[href*="youtube.com/watch?"], a[href*="sevenload.com/videos/"], a[href*="metacafe.com/watch/"], a[href*="video.google.com"], a[href$='.mov'], a[href$='.wmv'], a[href$='.mp4'], a[href$='.avi'], a[href$='.mpg'] { background: transparent url(/_resources/images/icons/icon_film.gif) no-repeat center right; padding: 5px 20px 5px 0; }

/* line 1086, ../components/sass/_styles_jscc_screen4.scss */
#acrobat a:link, #acrobat a:visited { color: #999; text-decoration: underline; }

/* line 1092, ../components/sass/_styles_jscc_screen4.scss */
#acrobat a:hover, #acrobat a:active { color: #f33; text-decoration: underline; }

/* line 1098, ../components/sass/_styles_jscc_screen4.scss */
p.imagecaption { font-size: .8em; text-align: right; position: relative; top: -1em; font-style: italic; }

/* line 1106, ../components/sass/_styles_jscc_screen4.scss */
body #content form.elearnform { font-family: sans-serif; border: gray 1px solid; width: 180px; }

/* line 1112, ../components/sass/_styles_jscc_screen4.scss */
body #content form.elearnform #title { background-color: green; color: white; font-weight: bold; padding: 6px; font-size: 1.5em; }

/* line 1120, ../components/sass/_styles_jscc_screen4.scss */
body #content form.elearnform #eform { padding: 2em 8px 8px 8px; }

/* line 1124, ../components/sass/_styles_jscc_screen4.scss */
body #content form.elearnform #eform label { padding-left: 0; float: none; text-align: left; width: auto; font-size: 1.4em; }

/* line 1132, ../components/sass/_styles_jscc_screen4.scss */
body #content form.elearnform #eform input[type="submit"] { font-size: 1.6em; }

/* line 1136, ../components/sass/_styles_jscc_screen4.scss */
body #content form.elearnform #eform input[type="text"], form.elearnform #eform input[type="password"] { width: 140px; margin: 0; margin-bottom: 1em; }

/* line 1143, ../components/sass/_styles_jscc_screen4.scss */
body #content form.elearnform #eform p { font-size: 1.2em; margin: 0; margin-bottom: 1em; }

/* line 1149, ../components/sass/_styles_jscc_screen4.scss */
ul#microevents { visibility: hidden; }

/* line 1153, ../components/sass/_styles_jscc_screen4.scss */
.question { font-size: 1.2em; font-weight: bold; }

/* line 1158, ../components/sass/_styles_jscc_screen4.scss */
div#complaints, a:visited div#complaints { background-image: url(/_resources/images/complaints.png); background-repeat: no-repeat; background-position: 0% 50%; font-size: 1.2em; border: 1px #bfbfb6 solid; margin-bottom: 2em; background-color: #f2f2e8; padding: 6px 6px 6px 100px; }

/* line 1170, ../components/sass/_styles_jscc_screen4.scss */
table.emtemp { width: 600px; }

/* line 1174, ../components/sass/_styles_jscc_screen4.scss */
table.emtemp td { width: 200px; }

/* line 1178, ../components/sass/_styles_jscc_screen4.scss */
table.emtemp td + td { width: 400px; }

/* line 1182, ../components/sass/_styles_jscc_screen4.scss */
#box { border: 1px #dcdcd4 solid; background-color: #f1f1e7; padding: 0 1em; }

/* line 1188, ../components/sass/_styles_jscc_screen4.scss */
span#netcalc { background: url(/_resources/images/calculator-icon.png) no-repeat #f1f1e7; padding: 4px 4px 4px 65px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #808080; width: 330px; height: 50px; line-height: 50px; font-size: 1.4em; font-weight: bold; vertical-align: middle; display: block; }

/* line 1204, ../components/sass/_styles_jscc_screen4.scss */
.show_hide { display: none; }

/* line 1208, ../components/sass/_styles_jscc_screen4.scss */
.area1 { border: #2787ad 4px solid; }

/* line 1212, ../components/sass/_styles_jscc_screen4.scss */
.area2 { border: #93B81D 4px solid; }

/* line 1216, ../components/sass/_styles_jscc_screen4.scss */
.area3 { border: #99288B 4px solid; }

/* line 1220, ../components/sass/_styles_jscc_screen4.scss */
.madison { border: #797970 4px solid; }

/* line 1224, ../components/sass/_styles_jscc_screen4.scss */
.recruiterpopup { background-color: white; padding: 10px; font-size: .9em; width: 300px; }

/* line 1231, ../components/sass/_styles_jscc_screen4.scss */
#content .recruiterpopup p { margin-bottom: 0; padding-bottom: 0; margin-top: .5em; line-height: 1.5em; }

/* line 1238, ../components/sass/_styles_jscc_screen4.scss */
#content .recruiterpopup p.small { font-size: 1.3em; line-height: 1.4em; margin-bottom: 1em; }

/* line 1244, ../components/sass/_styles_jscc_screen4.scss */
.recruiterpopup h2 { margin: 0 0 1em 0; padding: 0; }

/* line 1249, ../components/sass/_styles_jscc_screen4.scss */
.recruiter { padding: 10px; background-color: #f1f1e8; }

/* line 1254, ../components/sass/_styles_jscc_screen4.scss */
.recruiter { font-size: 1.3em; line-height: 1.6em; height: 77px; }

/* line 1260, ../components/sass/_styles_jscc_screen4.scss */
div#highlightbox { padding: 4px 4px 4px 14px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #808080; width: 300px; height: 50px; line-height: 50px; font-size: 1.4em; font-weight: bold; vertical-align: middle; background-color: #eeeee4; }

/* line 1275, ../components/sass/_styles_jscc_screen4.scss */
div#highlightbox:hover { background-color: #dcdcd4; }

/* line 1279, ../components/sass/_styles_jscc_screen4.scss */
.show_hide { display: none; }

/* line 1283, ../components/sass/_styles_jscc_screen4.scss */
pre { font-family: "Lucida Console", Monaco, monospace; font-size: 1.3em; line-height: 1.9em; }

/* line 1289, ../components/sass/_styles_jscc_screen4.scss */
.nomargin { margin: 0; }

/* line 1293, ../components/sass/_styles_jscc_screen4.scss */
.center { text-align: center; }

/* line 1297, ../components/sass/_styles_jscc_screen4.scss */
.right { text-align: right; }

/* line 1301, ../components/sass/_styles_jscc_screen4.scss */
.valigntop { vertical-align: top; }

/* line 1305, ../components/sass/_styles_jscc_screen4.scss */
.absmiddle { vertical-align: middle; }

/* line 1309, ../components/sass/_styles_jscc_screen4.scss */
.valignbottom { vertical-align: top; }

/* line 1313, ../components/sass/_styles_jscc_screen4.scss */
.clearall { clear: both; }

/* line 1317, ../components/sass/_styles_jscc_screen4.scss */
.statstable { clear: both; width: 600px; }

/* line 1322, ../components/sass/_styles_jscc_screen4.scss */
div.pullquote, blockquote { border-top: solid 1px #7e7e4c; border-bottom: solid 1px #7e7e4c; padding: 2em 0; color: #7e7e4c; text-align: center; clear: both; margin-top: 1em; }

/* line 1333, ../components/sass/_styles_jscc_screen4.scss */
div.pullquote p, div.pullquote h2, blockquote h2 { margin: 0; padding: 0; margin-bottom: 1em; }

/* line 1341, ../components/sass/_styles_jscc_screen4.scss */
.pullquote.large { font-size: 1.8em; font-style: italic; font-family: 'Droid Serif', Georgia, Times, serif; padding: .5em 0; }

/* line 1348, ../components/sass/_styles_jscc_screen4.scss */
.pullquote.large p { margin: 0; }

/* line 1352, ../components/sass/_styles_jscc_screen4.scss */
ul#ancillary { list-style-type: none; text-align: left; position: absolute; width: 200px; right: 28em; top: 8px; }

/* line 1361, ../components/sass/_styles_jscc_screen4.scss */
ul#ancillary li { display: inline; border-left: 1px solid #000; float: left; line-height: 1.1em; margin: 0 .5em 0 -.5em; padding: 0 .5em 0 .5em; }

/* line 1370, ../components/sass/_styles_jscc_screen4.scss */
ul#ancillary li.first { border-left: 0 solid #000; }

/* line 1374, ../components/sass/_styles_jscc_screen4.scss */
ul#ancillary li a:link, ul#ancillary li a:visited { color: #006637; text-decoration: none; }

/* line 1380, ../components/sass/_styles_jscc_screen4.scss */
ul#ancillary li a:hover, ul#ancillary li a:active { text-decoration: underline; }

/* line 1385, ../components/sass/_styles_jscc_screen4.scss */
.playercard { border: solid 1px #016a32; padding: 1em; width: 450px; height: 300px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-color: #f2f2e8; margin-bottom: 1em; }

/* line 1397, ../components/sass/_styles_jscc_screen4.scss */
.playernumber { font-size: 4em; color: white; background: #016a32; padding: 0 .3em; text-align: center; margin-right: .2em; }

/* line 1406, ../components/sass/_styles_jscc_screen4.scss */
.playername { font-size: 2em; color: #016a32; margin-right: .3em; }

/* line 1412, ../components/sass/_styles_jscc_screen4.scss */
.playerclass { font-size: 1em; color: gray; font-style: italic; }

/* line 1418, ../components/sass/_styles_jscc_screen4.scss */
.playerinfo { border-top: 4px solid #016a32; padding-top: 8px; color: #016a32; font-size: 1.2em; position: relative; }

/* line 1426, ../components/sass/_styles_jscc_screen4.scss */
.playerinfo img { float: left; }

/* line 1430, ../components/sass/_styles_jscc_screen4.scss */
.playerdetails { float: right; width: 300px; }

/* line 1435, ../components/sass/_styles_jscc_screen4.scss */
#content .playerdetails p { line-height: 1em; margin: 0px 0px 20px 10px; }

/* line 1440, ../components/sass/_styles_jscc_screen4.scss */
.playerdetails .label { font-size: .7em; font-style: italic; color: #777; }

/* line 1446, ../components/sass/_styles_jscc_screen4.scss */
.grow { display: inline-block; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px transparent; }

/* line 1457, ../components/sass/_styles_jscc_screen4.scss */
.grow:hover, .grow:focus, .grow:active { -webkit-transform: scale(1.1); transform: scale(1.1); }

/* line 1464, ../components/sass/_styles_jscc_screen4.scss */
#ttp { background-color: #f2f2e8; border: solid 1px #c7c7bd; padding: 1em; font-size: 1.35em; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

/* line 1474, ../components/sass/_styles_jscc_screen4.scss */
#ttp img { margin-right: 1em; vertical-align: middle; }

/* line 1479, ../components/sass/_styles_jscc_screen4.scss */
a:link #ttp, a:visited #ttp { text-decoration: none; color: #666; }

/* line 1485, ../components/sass/_styles_jscc_screen4.scss */
.mission { float: right; border: 1px solid gray; padding: 10px; margin-left: 1em; width: 300px; font-size: .9em; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

/* line 1497, ../components/sass/_styles_jscc_screen4.scss */
.mission p, .mission h2 { margin: 0; padding: 0; }

/* line 1503, ../components/sass/_styles_jscc_screen4.scss */
.mission h2 { font-size: 1.7em; font-weight: bold; margin-bottom: .5em; line-height: 1.5em; }

/* line 1510, ../components/sass/_styles_jscc_screen4.scss */
.notice { font-size: 1.1em; padding: 6px 6px 6px 14px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #808080; background-color: #eeeee4; box-shadow: 2px 2px 2px 0px #999; }

/* line 1521, ../components/sass/_styles_jscc_screen4.scss */
#regwrapper { float: right; width: 250px; margin: 20px 10px 20px 30px; }

/* line 1527, ../components/sass/_styles_jscc_screen4.scss */
#regwrapper p { font-size: 1.2em; color: #7f7a51; }

/* line 1532, ../components/sass/_styles_jscc_screen4.scss */
#regwrapper a:link, #regwrapper a:visited { text-decoration: none; }

/* line 1537, ../components/sass/_styles_jscc_screen4.scss */
a:link #regbox, a:visited #regbox { padding: 10px; font-size: 2em; border-radius: 10px; -webkit-box-shadow: 2px 2px 2px 0px #999; -moz-box-shadow: 2px 2px 2px 0px #999; box-shadow: 2px 2px 2px 0px #999; text-shadow: 2px 2px 1px #a8a379; background-color: #d0cba5; text-align: center; color: white; margin-bottom: 1em; }

/* line 1552, ../components/sass/_styles_jscc_screen4.scss */
.lighttext { color: #b6b6ac; }

/* line 1556, ../components/sass/_styles_jscc_screen4.scss */
.bold { font-weight: bold; }

/* line 1560, ../components/sass/_styles_jscc_screen4.scss */
.hide { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }

/* line 1569, ../components/sass/_styles_jscc_screen4.scss */
.clip-circle { clip-path: circle(30px at center); }

/* line 1573, ../components/sass/_styles_jscc_screen4.scss */
.applybtn { background: #219421; background-image: -webkit-linear-gradient(top, #219421, #247a20); background-image: -moz-linear-gradient(top, #219421, #247a20); background-image: -ms-linear-gradient(top, #219421, #247a20); background-image: -o-linear-gradient(top, #219421, #247a20); background-image: linear-gradient(to bottom, #219421, #247a20); -webkit-border-radius: 6; -moz-border-radius: 6; border-radius: 6px; text-shadow: 1px 1px 2px #636363; font-family: Arial; color: #ffffff; font-size: 14px; padding: 10px 16px 10px 16px; text-decoration: none; }

/* line 1591, ../components/sass/_styles_jscc_screen4.scss */
.applybtn:hover, .applybtn.btn-primary:hover { background: #d69e2f; background-image: -webkit-linear-gradient(top, #d69e2f, #c78500); background-image: -moz-linear-gradient(top, #d69e2f, #c78500); background-image: -ms-linear-gradient(top, #d69e2f, #c78500); background-image: -o-linear-gradient(top, #d69e2f, #c78500); background-image: linear-gradient(to bottom, #d69e2f, #c78500); border-color: #c78500; text-decoration: none; }

/* line 1603, ../components/sass/_styles_jscc_screen4.scss */
div#apply { position: absolute; top: 24px; right: 200px; }

/* line 1609, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo { width: 230px; float: right; border-radius: 10px; border: 2px solid #ce7325; padding: 10px; margin-left: 20px; margin-bottom: 20px; background-color: #f2f2e8; background-image: url("/_resources/images/degreeinfo.png"); }

/* line 1621, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo p { margin: 0; }

/*div#degreeinfo label {float:none; width:8em;text-align:left;margin-right:0;display:inline;}*/
/* line 1628, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo label { float: left; width: 4em; text-align: right; margin-right: 0; display: block; }

/* line 1636, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo input { width: 11em; }

/* line 1640, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo .controls { display: inline; }

/* line 1644, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo div.form-actions { padding: 0; margin: 0; }

/* line 1649, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo h2 { color: white; margin: 0 0 20px 40px; padding: 0; font-size: 2em; }

/* line 1656, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo .alert { font-size: 1.3em; }

/* line 1660, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo .form-actions { text-align: center; }

/* line 1664, ../components/sass/_styles_jscc_screen4.scss */
div#degreeinfo form { margin-bottom: 0; }
