/* COLORS */
/* support for edge-to-edge banner */
/* line 3, ../components/sass/_styles_slickslider.scss */
.container-fluid.main-banner { padding-left: 15px; padding-right: 15px; margin-bottom: 0; }

/* line 9, ../components/sass/_styles_slickslider.scss */
.slick-slide, .slick-slide > div { width: 100%; position: relative; padding: 0; margin: 0; }
/* line 15, ../components/sass/_styles_slickslider.scss */
.slick-slide img, .slick-slide > div img { width: 100%; }

/* line 20, ../components/sass/_styles_slickslider.scss */
.slick-slide { position: relative; }

/* caption styles */
/* line 28, ../components/sass/_styles_slickslider.scss */
.slick-next, .slick-prev { display: none; }

/* line 34, ../components/sass/_styles_slickslider.scss */
.slick-slide .caption { margin: 0 auto; text-align: center; max-width: 1100px; position: relative; color: #fff; font-family: "Droid Sans", Helvetica, Arial, sans-serif; font-size: 5rem; text-shadow: 0 0 15px #333; width: 100%; display: block; padding: 0; }
/* line 50, ../components/sass/_styles_slickslider.scss */
.slick-slide .caption a { -webkit-transition-property: color, text; -webkit-transition-duration: .3s, .3s; -webkit-transition-timing-function: linear, ease-in; -moz-transition-property: color, text; -moz-transition-duration: .3s; -moz-transition-timing-function: linear, ease-in; -ms-transition-property: color, text; -ms-transition-duration: .3s; -ms-transition-timing-function: linear, ease-in; -o-transition-property: color, text; -o-transition-duration: .3s; -o-transition-timing-function: linear, ease-in; transition-property: color, text; transition-duration: .3s; transition-timing-function: linear, ease-in; color: inherit; }
/* line 67, ../components/sass/_styles_slickslider.scss */
.slick-slide .caption a:hover { color: #ce812c; }
/* line 71, ../components/sass/_styles_slickslider.scss */
.slick-slide .caption .read-more { text-transform: uppercase; font-size: .7rem; letter-spacing: .02em; margin-left: .5rem; }
/* line 78, ../components/sass/_styles_slickslider.scss */
.slick-slide .caption > div { position: absolute; right: 0; left: auto; padding: 50px; bottom: 0; margin-bottom: 10%; right: auto; display: block; width: 100%; }
/* line 89, ../components/sass/_styles_slickslider.scss */
.slick-slide .embed-responsive { padding-bottom: 33.5%; }
/* line 92, ../components/sass/_styles_slickslider.scss */
.slick-slide video::-webkit-media-controls-panel { display: none !important; }

@media (min-width: 1400px) { /* line 98, ../components/sass/_styles_slickslider.scss */
  .slick-slide .caption > div { margin-bottom: 22%; } }
@media (max-width: 768px) { /* line 104, ../components/sass/_styles_slickslider.scss */
  .slick-slide .caption > div { margin-bottom: 5%; }
  /* line 107, ../components/sass/_styles_slickslider.scss */
  .video-container { display: none; } }
@media (max-width: 991px) { /* line 114, ../components/sass/_styles_slickslider.scss */
  .slick-slide .caption { font-family: "Droid Sans", Helvetica, Arial, sans-serif; } }
@media (max-width: 991px) { /* line 122, ../components/sass/_styles_slickslider.scss */
  .slick-slide .caption { font-size: 3rem; line-height: 3rem; } }
@media (max-width: 479px) { /* line 133, ../components/sass/_styles_slickslider.scss */
  .slick-slide .caption > div { text-align: right; padding: 20px; margin-bottom: 0; } }
@media (min-width: 768px) { /* line 142, ../components/sass/_styles_slickslider.scss */
  .slick-slide .caption { position: relative; z-index: 30; height: auto; padding: 0; display: block; } }
/* line 153, ../components/sass/_styles_slickslider.scss */
.caption-theme-light { color: #000; font-size: 1rem; background-color: rgba(248, 248, 248, 0.8); text-shadow: none; width: 100%; display: block; }
/* line 160, ../components/sass/_styles_slickslider.scss */
.caption-theme-light a { color: #09589a; }

/* feature themes */
/* line 168, ../components/sass/_styles_slickslider.scss */
.slick-slider { width: 100%; height: auto; clear: both; display: block; }

/* line 175, ../components/sass/_styles_slickslider.scss */
.slick-slider { background-position: 50% 50%; background-image: url("../_resources/images/slider/ajax-loader.gif"); background-repeat: no-repeat; }

/* line 181, ../components/sass/_styles_slickslider.scss */
.slick-slider.slick-initialized { background: none; }

/* line 185, ../components/sass/_styles_slickslider.scss */
.slick-slider > div > .caption, .slick-slider > div { display: none; -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; }

/* line 193, ../components/sass/_styles_slickslider.scss */
.slick-slider > div:first-child { display: block; }

/* line 197, ../components/sass/_styles_slickslider.scss */
.slick-slider.slick-initialized .slick-list, .slick-slider.slick-initialized .slick-track { -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; position: relative; -webkit-transition: opacity 0.5s ease-in; -moz-transition: opacity 0.5s ease-in; -o-transition: opacity 0.5s ease-in; -ms-transition: opacity 0.5s ease-in; transition: opacity 0.5s ease-in; }

/* line 211, ../components/sass/_styles_slickslider.scss */
.slick-slider a[href*="youtube.com/watch?"], .slick-slider a[href*="sevenload.com/videos/"], .slick-slider a[href*="metacafe.com/watch/"], .slick-slider a[href*="video.google.com"], .slick-slider a[href$='.mov'], .slick-slider a[href$='.wmv'], .slick-slider a[href$='.mp4'], .slick-slider a[href$='.avi'], .slick-slider a[href$='.mpg'] { padding: 0; }
