.pre-footer {
    padding-top: 20px;
    background-color: #f2f2e8;
    ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        
        display: -moz-webkit-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
         box-sizing:border-box;
    }
    li {
        box-sizing: border-box;
        margin-bottom: 10px;
        //width: 19%;
        padding:0;
         margin:0;
    -ms-flex: auto;
    -moz-flex: auto;
    -webkit-flex: auto;
    flex: auto;
        flex: 0 0 1;
        //padding-right: 20px;
    }
    li img {
        float: left;
        margin-right: 7px;
    }
    li p {
        padding-right:18px;
        line-height: 1rem;
        text-align: left;
        padding-top: 6px;
        line-height: 1.5rem;
        a {
            color: #000;
            text-decoration: none;
        }
        a:hover { text-decoration: underline; color:$color-heathergrey;}
    }
}

@media (min-width: $screen-xs-min) {
    .pre-footer {
        font-size: .8rem;
        //  ul { margin:0;padding:0; display: flex; flex-wrap: wrap;}
        li {
            flex: 0 0 50%;
        }
    }
}

@media (min-width: 600px) {
    .pre-footer {
        //  ul { margin:0;padding:0; display: flex; flex-wrap: wrap;}
        li {
            flex: 0 0 33.33333%;
        }
    }
}

@media (min-width: $screen-md-min) {
    .pre-footer {
        //  ul { margin:0;padding:0; display: flex; flex-wrap: wrap;}
        li {
            flex: 0 0 20%;
        }
    }
}