.navbar {
    min-height: inherit;
}
.navbar-subbrand {
    margin-top: 20px;
    border-left: 1px solid #fff;
    padding: 0 11px 0 10px;
    display: inline-block;
    zoom: 1;
    position: relative;
    *display: inline;
}
.nav > li > a { padding: 15px 13px; }
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}
.yamm {
    .fa-caret-right {
        color: #fff;
        font-size: 2rem;
        float: right;
        width: 30px;
        height: 30px;
        margin-top: -4px;
        -webkit-transition: all .05s ease-in;
        -moz-transition: all .05s ease-in;
        -ms-transition: all .05s ease-in;
        -o-transition: all .05s ease-in;
        transition: all .05s ease-in;
    }
    .dropdown-submenu .fa.fa-caret-right {
        font-size: 1.3rem;
        width: 12px;
        height: 12px;
        padding-left: 0;
        margin-top: 2px;
    }
    .yamm-fw {
        .fa-caret-right {
            -ms-transform: rotate(0);
            /* IE 9 */
            
            -webkit-transform: rotate(0);
            /* Chrome, Safari, Opera */
            -moz-transform: rotate(0);
            -o-transform: rotate(0);
            
            transform: rotate(0);
        }
    }
    .yamm-fw.open > a > .fa-caret-right,
    .dropdown-submenu.open > a > .fa-caret-right {
        -ms-transform: rotate(90deg);
        /* IE 9 */
        
        -webkit-transform: rotate(90deg);
        /* Chrome, Safari, Opera */
        
        transform: rotate(90deg);
    }
    .dropdown-submenu.open > a > .fa-caret-right {
        margin-top: 5px;
    }
}
@media (min-width: $screen-sm) {
    .yamm {
        .fa-caret-right {
            color: $brand-primary;
            float: left;
            width: 23px;
        }
        .dropdown-menu {
            right: auto;
            left: auto;
            border: 0;
            border-radius: 0;
            li {
                line-height: 1.5em;
                padding: 0;
            }
        }
        .navbar-nav {
            margin: 0;
            width: 100%;
            text-align: center;
            > li {
                float: none;
            }
        }
        .nav {
           > li.yamm-fw {
                display: inline-block;
                *display: inline;
                /*IE7*/
                
                *zoom: 1;
                /*IE7*/
                
                 
                    > a { 
                        &:hover,&:active,&:focus { background:rgba(255, 255, 255, 0.2);} 
                    }
                
            }
        }
    }
    .yamm {
        .yamm-content {
            opacity: 0;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }
        .open .yamm-content {
            opacity: 1;
        }
        background:$color-halloween;
        .yamm-content {
            min-width: 230px;
            padding: 0;
            li a {
                padding: 4px 10px 4px 15px;
                display: block;
            }
            .dropdown-menu li a {
                padding-left: 30px;
            }
        }
        a {
            color: #fff;
            font-family: $font-family-bold;
            text-transform: uppercase;
        }
        .dropdown-submenu .dropdown-menu {
            left: auto;
        }
        a:hover {
            text-decoration: none;
        }
    }
    // end .yamm
    .yamm.full .dropdown-menu {
        width: 100%;
    }
    .yamm .link-list .col-sm-12 {
        float: none;
    }
    .yamm .link-list.divider0 {
        background: none;
        padding-right: 0;
    }
    .yamm,
    .yamm.visible {
        display: block;
    }
}
.yamm .dropdown-menu {
    background: $brand-primary;
    padding: 0;
    ul li ul {
        background: $color-lightblue;
        position: relative;
        clear: both;
        width: 100%;
        margin-bottom: 5px;
        a {
            text-transform: none;
            font-family: $font-family-italic;
            color: #fff;
        }
        a:before {
            content: "- ";
        }
    }
    .container {
        max-width: 1100px;
    }
    a {
        color: #fff;
        &:hover {
            color: $color-halloween;
            .fa {
                color: inherit;
            }
        }
        .fa {
            color: inherit;
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
    .nav > li > a {
        padding: 15px 5px;
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .nav > li > a {
        padding: 15px 5px;
        font-size: .85rem;
        line-height: .85rem;
    }
    .yamm .fa-caret-right {
        width: 23px;
        width: 14px;
        height: 18px;
        font-size: 1.5rem;
        // margin-top: 0;
    }
}
@media (min-width: $screen-sm) and (max-width: 850px) {
    .nav > li > a {
        padding: 15px 4px;
        font-size: .82rem;
        line-height: .82rem;
    }
}