.topnav {
    background: $color-grey;
    z-index: 2;
    position: relative;
    background-image: url('../_resources/images/backgrounds/top.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
    a {
        //color: $color-blue;
        text-decoration: none;
        font-size: 1rem;
        &:hover {
            // text-decoration: underline;
        }
    }
    ul {
        list-style: none;
        display: inline-block;
        padding: 0;
        li {
            display: inline;
        }
         
        li:last-child a {
            border-right: 0;
        }
    }
    
     .input-group-btn .btn-primary {
    background-color: #535353;
    border-color: #505050;
    }
   
    .toggle-drop .dropdown-menu {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        top: 32px;
        z-index: 3;
        clear: both;
        float: none;
        display: none;
        width: 100%;
    }
    .toggle-drop .open .dropdown-menu {
        display: block;
    }
}

// MOBILE 
@media (max-width: $screen-xs-max) {
    .input-group.custom-search-form {
    padding-bottom: 10px;
}
    .input-group {width:100%;}
    a.btn.btn-primary.applybtn {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
        &:hover { color:#fff;}
    }
    
    ul.nav.navbar.navbar-nav.navbar-right {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c7c3e+0,52a564+100 */
background: #1c7c3e; /* Old browsers */
background: -moz-linear-gradient(top,  #1c7c3e 0%, #52a564 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1c7c3e 0%,#52a564 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1c7c3e 0%,#52a564 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c7c3e', endColorstr='#52a564',GradientType=0 ); /* IE6-9 */

    }
    
    
    .hidemobile { display:none;}
    .buffer-top { padding-top:0;}
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus  { border-bottom: 0;}
      .topnav-action {
        padding: 0;
          margin-bottom: 15px;
    }
    .topnav { 
       
        //text-align: left;
        padding: 0;
        margin: 0; 
         margin-bottom: 25px;
        //background: $color-grey;
        background: $brand-primary;
        color: #fff;
     
         .toggle-drop {
             margin-bottom: 0;
             .fa {
                 display: none;
             }
             
         }
          
         ul a {
             padding: 8px;
             border: 0;
         }
         .yamm {
             clear: both;
             padding: 0;
             margin-bottom: 10px;
             p { margin:0;}
             .fa-caret-down {
                 float: right;
             }
             .yamm-fw {
                 .dropdown-menu {
                     // h2 { display: none;}
                     h2 { padding-top:10px; margin:0; font-size: 14px; font-weight: 600;}
                     h2 a { padding:0; color:$brand-primary; font-size: 14px;}
                     background-color: #eeeeee;
                     display: none;
                     //  li a { display: block;}
                     > li > a:hover,
                     >li > a:focus {
                         background: transparent;
                         color: inherit;
                         text-decoration: underline;
                     }
                 }
             }
             .yamm-fw.open {
                 p a { color: $brand-primary;}
                 
                 > a { background-color:$color-halloween; color:#fff;border-top-color: darken($color-halloween, 10);}
                 .dropdown-menu {
                     display: block;
                     h3 { }
                h3.unused {
                    margin:0;
                    border-bottom: 0;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: #777;
                    font-size: .9rem;
                    border-top: 1px solid #ccc;
                    padding: 8px 5px;
                }
                 }
             }
         }
         #navbar-collapse-1 .nav {
             width: 100%;
             margin: 0;
             border: 0;
         } 
      
        
        
        a {
            color: inherit;
           
        }
        .btn {
            text-align: left;
            &:hover,
            &:focus,
            &.focus {
                box-shadow: none;
                color: $color-halloween;
            }
        }
        .container-fluid {
            padding: 0;
        }
        ul.nav > li > a {  
            font-size:18px;
            font-weight: 600;
            
            padding: 8px 15px;
        
        }
        ul {
            display: block;
            a {
            display: block;
            width: 100%;
            border-right: 0;
                      
            
            
            }
            
            ul li > a { font-weight:400; font-size: 16px; border-bottom:0;
                
            }
            a.action { padding-left:17px; color:$brand-primary; font-size: 1rem;font-weight: 600;}
            h3 { border-bottom: 0; font-weight: 600; margin-left: 0; font-size: 13px; padding-top:15px; padding-bottom:3px; text-transform: uppercase; margin-top:0;}
            ul h3 a { color: $brand-primary; font-size: 13px;  border-bottom:0; padding: 0; margin:0;}
        } 
        .custom-inline-input { margin-top:15px;}
        .custom-inline-input .fa.fa-search {
            font-size: 1.7rem;
        }
        
          
         
    }
    .topnav-action {
        font-size: 14px;
        width: 100%;
        clear: both;
        background: $color-grey;;
        width: 100%;
        margin: 0;
       // padding: 10px 0;
        display: none;
        
    }
    .mobile-heading {
        img.logo { width:120px;}
        margin-left: 0;
        margin-right: 0;
        padding: 8px 15px;
        .sm {
            width: 220px;
            float: left;
            svg {
                max-height: 38px;
            }
        }
        > div {
            padding-left: 0;
            padding-right: 0;
        }
    }
    //.target-aud-link { border:0;}
}

// DESKTOP
@media (min-width: $screen-sm) {
    .custom-inline-input .fa.fa-search {
        margin-top: 3px;
    }
    .mobile-heading {
        display: none;
    }
    .topnav-action { padding: 16px 10px 26px 10px;}
    .topnav {
        input.form-query.form-control {
            border: 0;
            padding-top: 4px;
            padding-bottom: 4px;
            height: 30px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
     
         
        .input-group-btn a {
            font-size: 1rem;
        }
    }
}