
.color-orange {
    color: $color-halloween;
    a { color:inherit;}
}
.color-black {
    color: #000;
    a { color:inherit; text-decoration: underline;}
}
.color-grey, .color-gray { color: $color-heathergrey;
    a { color:inherit; text-decoration: underline;}
}
.color-primary { color:$brand-primary;
    a { color:inherit; text-decoration: underline;}
}
.text-underline { border-bottom: 1px solid #000;}
.text-underline.color-orange { border-bottom: 1px solid $color-halloween;}
//Make this a mixin?
.inverse .btn a {
    color: inherit
} 
/* Read more */

a.readmore {
    color: $color-halloween;
    font-family: $font-family-bold-italic;
    text-transform: none;
    font-size: 1.1rem;
    text-decoration: underline;
    &:visited {
        color: $color-halloween;
    }
    &:hover {
        color: darken($color-halloween, 15);
    }
}
.background-inverse-feature {
    overflow: hidden;
    position: relative;
}
 

.page-title-background { text-align: center;    padding:0; color:#fff; background-size: cover;
    > div { background-color: rgba(0, 0, 0, 0.4); padding: 30px 15px; }
    h1 { color:#fff;  margin:0;  font-size: 4rem;  font-weight: 300;}
}
@media (max-width:$screen-sm) {
    .page-title-background h1 { font-size: 3.4rem;}
}
@media (max-width:$screen-xs) {
    .page-title-background h1 { font-size: 2.4rem;}
}

.main-content { h2, h3 {   clear:both;display: block;width:100%;}}