.page-content.rsidebar #content,
.page-content.rwidget #content,
.page-content.rsidebar #sidebar,
.page-content.rwidget #sidebar {
    width: 92%;
    margin: 0 4%;
}

.page-content.rsidebar #sidebar,
.page-content.rwidget #sidebar {
    padding: 0;
    border-left: 0;
    clear: both;
    float: none;
}

#sidebar {
    margin: 00px 0 10px 0;
    border-bottom: 0;
    padding-top: 10px;
}

@media (min-width:$screen-sm) {
    #sidebar {
        border-left: 0;
    }
    #sidebar.border0 {
        background: 0;
    }
}