footer {
    a:visited {
        color: inherit;
    }
    font-size: .75rem;
    color: $color-heathergrey;
    a {
        color: inherit;
    }
}
.footer-logo { padding: 0 10px 10px 0; float:left;}
.footer-sponsors { clear:both; 
    li {  width: auto;padding: 8px 4px;
    img {
    max-height: 40px; }
    }    
}
footer {
    * {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    background: $footer-background;
    position: relative;
    ul {
        padding-left: 0;
        padding-right: 10px;
        margin-left: 0;
        list-style: none;
    }
    li {
        list-style: none;
        a {
            color: $color-heathergrey;
            display: block;
            padding: 3px 0;
            color: inherit;
            display: block;
            //font-family: $font-family-bold;
            text-decoration: none;
            &:hover {
                //color: $brand-primary;
                text-decoration: underline;
            }
            .fa {
                color: inherit !important;
            }
        }
        h3 {
            font-size: .95rem;
            color: $color-heathergrey;
        }
        h3 a {
            margin: 0;
            padding: 0;
        }
    }
    >div {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
    }
    li.social-horizontal a {
        padding: 3px 0px;
        min-width: 30px;
        display: inline-block;
        text-align: center;
        font-size: 18px;
    }
    nav ul li h3,
    nav ul li h3 a {
        margin: 0;
        padding: 3px 0;
    }
    .btn {
        font-size: 1.1rem;
        font-family: $font-family-bold;
        background: $brand-primary;
        color: #fff;
        text-transform: uppercase;
        padding: 1rem;
        width: 100%;
        border-color: darken(#00355A, 15);
        &:hover {
            background: $color-halloween;
            border-color: darken($color-halloween, 15);
        }
    }
    .footer-attr {
        //font-family: $font-family-bold;
        color: $color-heathergrey;
    }
}

@media (max-width: $screen-xs-max) {
    footer {
        .brand {
            margin-top: 15px;
            text-align: center;
            float: none !important;
        }
        ul {
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .btn {
            max-width: 200px;
        }
    }
}


/* pre footer social links */

.pre-footer-social {
    padding: 5px;
    ul {
        margin: 0;
    }
    a {
        color: $color-halloween;
        padding: 0;
        margin: 0 5px;
        font-size: 40px;
        text-decoration: none;
    }
    .fa-facebook-square {
        color: inherit;
    }
    a:hover {
        color: scale-lightness($color-halloween, 16);
    }
    li img {
        position: relative;
        bottom: 8px;
    }
}

@media (max-width: $screen-xs-max) {
    .footer-small {
        display: block;
        width: 100%;
    }
    .footer-button,
    .footer-badge {
        width: 50%;
        float: right;
        padding: 20px;
        text-align: right;
    }
    .footer-button {
        text-align: left;
        margin-top: 10px;
        .btn {
            max-width: 150px
        }
    }
    .footer-badge img {
        width: 100%;
        max-width: 100px;
        height: auto;
    }
    .footer-attr {
        clear: both;
        padding: 30px;
    }
}

@media (min-width: $screen-sm) {
    
    .footer-sponsors { float:right; clear:none;}
    .footer-menu {
        width: 50%;
        float: left;
    }
    .footer-menu:nth-of-type(2n+1) {
        clear: both;
    }
    .footer-large,
    .footer-small {
        display: inline-block;
    }
    .footer-large {
        width: 80%;
    }
    .footer-small {
        width: 20%;
        display: inline;
    }
    .footer-button {
        width: 20%;
        float: right;
        display: inline-block;
    }
    .footer-badge {
        clear: both;
        display: block;
    }
    .footer-badge {
        float: left;
        padding: 0 30px;
        max-width: 200px;
    }
}

@media (min-width: $screen-md) {
    
    .footer-menu {
        width: 20%;
        float: left;
    }
    .footer-menu:nth-of-type(2n+1) {
        clear: none;
    }
    .footer-badge {
        margin-left: 20%;
        float: left;
        display: block;
        width: 20%;
    }
    .footer-attr {
        margin-right: 20%;
        width: 40%;
        float: right;
    }
    footer .btn {
        font-size: 1.5rem;
    }
}

@media (min-width: $screen-lg) {
    .footer-badge {
        margin-left: 10%;
    }
    .footer-attr {
        margin-right: 10%;
        width: 60%;
    }
    footer .btn {
        font-size: 2rem;
    }
}

#footer {
    font-size: .8rem;
    text-align: left;
}

#footer-menu ul li {
    padding: 0;
}

#footer #copyright {
    width: inherit;
}

ul#follow li {
    display: inline-block;
}

ul#follow li a {
    background: transparent url('../_resources/images/icons/icons.png') no-repeat 0 0;
}

a[href$='.pdf'] {
    background: transparent url('../_resources/images/icons/icon_pdf.gif') no-repeat center right;
    display: inline-block;
}


footer .vcard p a { font-weight: 600;}