@import "mixins/burger";

.menu-button {
  display: inline-block;
  padding: .5em;
 
}

.burger-icon {
  @include burger(20px, 3px, 5px, #fff);
}
a#menu-nav { padding-top:16px;}
.mobile-active .burger-icon {
  @include burger-to-cross;
}

@media (max-width: $screen-xs-max) {
    .open.mobile-active {
     .burger-icon:before, .burger-icon:after { background-color: $color-halloween; }
    }
    .dropdown-menu {@include border-radius(0 0 0 0);}
    
     #yamm-placeholder {
         display: none;
     }
   
    .topnav-action > .container { padding-left:0; padding-right:0;}
     .yamm {
         .yamm-fw > a { 
             border-top: 1px solid #68b583; 
             color: #fff;
    text-shadow: none;
    font-weight: 400;}
         .yamm-fw a > .fa {
             display: none;
         }
         
         .yamm-content {
             padding: 0;
              
             a:focus,
             a:hover {
                 color: inherit;
                 text-decoration: underline;
             }
         }
     }
     .dropdown-menu > li > a:hover,
     .dropdown-menu > li > a:focus {
         text-decoration: underline;
     }
     .nav > li > a:hover,
     .nav > li > a:focus {
         text-decoration: underline;
     }
     .nav > #menu-nav > a:hover,
     .nav > #menu-nav > a:focus {
         text-decoration: none;
          
     }
 }
