 /*css for the form */
 
 form[name="contact-form"] label {
     clear: both !important;
     font-size: 1.3em;
     font-weight: normal;
 }
 
 form[name="contact-form"] label[class="radio"],
 form[name="contact-form"] label[class="checkbox"] {
     margin-left: 7em;
 }
 
 #content form label.radio {
     width: auto;
     text-align: left;
     display: block;
 }
 
 form[name="contact-form"] textarea {
     clear: both;
 }
 
 form[name="contact-form"] input,
 form[name="contact-form"] textarea,
 form[name="contact-form"] select {
     margin-bottom: 1em;
     ;
 }
 
 form[name="contact-form"] .control-label {
     padding-top: 10px;
 }
 
 form[name="contact-form"] .form-actions {
     clear: both;
 }
 
 .hide-text {
     font: 0/0 a;
     color: transparent;
     text-shadow: none;
     background-color: transparent;
     border: 0;
 }
 
 .input-block-level {
     display: block;
     width: 100%;
     min-height: 28px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
 }
 
 .label-important,
 .badge-important {
     background-color: #b94a48;
 }
 
 .label-important[href],
 .badge-important[href] {
     background-color: #953b39;
 }
 
 .label-warning,
 .badge-warning {
     background-color: #f89406;
 }
 
 .label-warning[href],
 .badge-warning[href] {
     background-color: #c67605;
 }
 
 .label-success,
 .badge-success {
     background-color: #468847;
 }
 
 .label-success[href],
 .badge-success[href] {
     background-color: #356635;
 }
 
 .label-info,
 .badge-info {
     background-color: #3a87ad;
 }
 
 .label-info[href],
 .badge-info[href] {
     background-color: #2d6987;
 }
 
 .label-inverse,
 .badge-inverse {
     background-color: #333333;
 }
 
 .label-inverse[href],
 .badge-inverse[href] {
     background-color: #1a1a1a;
 }
 
 form.ldpforms {
     margin: 0 0 18px;
 }
 
 form.ldpforms fieldset {
     padding: 0;
     margin-bottom: 22px;
     border: 1px solid #e5e5e5;
     border-left: none;
     border-right: none;
 }
 
 form.ldpforms legend {
     display: block;
     width: 100%;
     padding: 0;
     margin-bottom: -15px;
     font-size: 19.5px;
     line-height: 36px;
     color: #333333;
     border: 0;
     border-bottom: 1px solid #e5e5e5;
 }
 
 form.ldpforms legend small {
     font-size: 13.5px;
     color: #999999;
 }
 
 form.ldpforms label,
 form.ldpforms input,
 form.ldpforms button,
 form.ldpforms select,
 form.ldpforms textarea {
     font-size: 13px;
     font-weight: normal;
     line-height: 18px;
 }
 
 form.ldpforms input,
 form.ldpforms button,
 form.ldpforms select,
 textarea {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 
 form.ldpforms label {
     display: block;
     margin-bottom: 5px;
 }
 
 form.ldpforms select,
 form.ldpforms textarea,
 form.ldpforms input[type="text"],
 form.ldpforms input[type="password"],
 form.ldpforms input[type="datetime"],
 form.ldpforms input[type="datetime-local"],
 form.ldpforms input[type="date"],
 form.ldpforms input[type="month"],
 form.ldpforms input[type="time"],
 form.ldpforms input[type="week"],
 form.ldpforms input[type="number"],
 form.ldpforms input[type="email"],
 form.ldpforms input[type="url"],
 form.ldpforms input[type="search"],
 form.ldpforms input[type="tel"],
 form.ldpforms input[type="color"],
 .uneditable-input {
     display: inline-block;
     height: 18px;
     padding: 4px;
     margin-bottom: 9px;
     font-size: 13px;
     line-height: 18px;
     color: #555555;
 }
 
 form.ldpforms textarea {
     height: auto;
 }
 
 form.ldpforms textarea,
 form.ldpforms input[type="text"],
 form.ldpforms input[type="password"],
 form.ldpforms input[type="datetime"],
 form.ldpforms input[type="datetime-local"],
 form.ldpforms input[type="date"],
 form.ldpforms input[type="month"],
 form.ldpforms input[type="time"],
 form.ldpforms input[type="week"],
 form.ldpforms input[type="number"],
 form.ldpforms input[type="email"],
 form.ldpforms input[type="url"],
 form.ldpforms input[type="search"],
 form.ldpforms input[type="tel"],
 form.ldpforms input[type="color"],
 .uneditable-input {
     background-color: #ffffff;
     border: 1px solid #cccccc;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
     -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
     -o-transition: border linear 0.2s, box-shadow linear 0.2s;
     transition: border linear 0.2s, box-shadow linear 0.2s;
 }
 
 form.ldpforms textarea:focus,
 form.ldpforms input[type="text"]:focus,
 form.ldpforms input[type="password"]:focus,
 form.ldpforms input[type="datetime"]:focus,
 form.ldpforms input[type="datetime-local"]:focus,
 form.ldpforms input[type="date"]:focus,
 form.ldpforms input[type="month"]:focus,
 form.ldpforms input[type="time"]:focus,
 form.ldpforms input[type="week"]:focus,
 form.ldpforms input[type="number"]:focus,
 form.ldpforms input[type="email"]:focus,
 form.ldpforms input[type="url"]:focus,
 form.ldpforms input[type="search"]:focus,
 form.ldpforms input[type="tel"]:focus,
 form.ldpforms input[type="color"]:focus,
 .uneditable-input:focus {
     border-color: rgba(82, 168, 236, 0.8);
     outline: 0;
     outline: thin dotted \9;
     /* IE6-9 */
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
 }
 
 form.ldpforms input[type="radio"],
 form.ldpforms input[type="checkbox"] {
     margin: 3px 0;
     *margin-top: 0;
     /* IE7 */
     line-height: normal;
     cursor: pointer;
 }
 
 form.ldpforms input[type="submit"],
 form.ldpforms input[type="reset"],
 form.ldpforms input[type="button"],
 form.ldpforms input[type="radio"],
 form.ldpforms input[type="checkbox"] {
     width: auto;
 }
 
 .uneditable-textarea {
     width: auto;
     height: auto;
 }
 
 form.ldpforms select,
 form.ldpforms input[type="file"] {
     height: 28px;
     /* In IE7, the height of the select element cannot be changed by height, only font-size */
     *margin-top: 4px;
     /* For IE7, add top margin to align select with labels */
     line-height: 28px;
 }
 
 form.ldpforms select {
     width: 220px;
     border: 1px solid #bbb;
 }
 
 form.ldpforms select[multiple],
 form.ldpforms select[size] {
     height: auto;
 }
 
 form.ldpforms select:focus,
 form.ldpforms input[type="file"]:focus,
 form.ldpforms input[type="radio"]:focus,
 form.ldpforms input[type="checkbox"]:focus {
     outline: thin dotted #333;
     outline: 5px auto -webkit-focus-ring-color;
     outline-offset: -2px;
 }
 
 form.ldpforms input[class*="span"],
 form.ldpforms select[class*="span"],
 form.ldpforms textarea[class*="span"],
 .uneditable-input[class*="span"],
 .row-fluid .uneditable-input[class*="span"] {
     float: none;
     margin-left: 0;
 }
 
 form.ldpforms input,
 form.ldpforms textarea,
 .uneditable-input {
     margin-left: 0;
 }