.topnav {
    background: $color-grey;
    z-index: 2;
    position: relative;
    background-image: url('../_resources/images/backgrounds/top.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
    a {
        //color: $color-blue;
        text-decoration: none;
        font-size: 1rem;
        &:hover {
            // text-decoration: underline;
        }
    }
    ul {
        list-style: none;
        display: inline-block;
        padding: 0;
        li {
            display: inline;
        }
        a {
            font-family: $font-family-bold;
            padding: 2px 12px;
            margin: 0;
            border-right: 1px solid $color-halloween;
        }
        li:last-child a {
            border-right: 0;
        }
    }
    .topnav-action {
        padding: 0 0 15px 0;
    }
    .toggle-drop .dropdown-menu {
        border: 0;
        border-radius: 0;
        box-shadow: none;
        top: 32px;
        z-index: 3;
        clear: both;
        float: none;
        display: none;
        width: 100%;
    }
    .toggle-drop .open .dropdown-menu {
        display: block;
    }
}

// MOBILE 
@media (max-width: $screen-xs-max) {
    
    .hidemobile { display:none;}
    .buffer-top { padding-top:0;}
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus  { border-bottom: 0;}
     
    .topnav {
        //text-align: left;
        padding: 0;
        margin: 0; 
        background: $color-grey;
        color: #000;
        a {
            color: inherit;
           
        }
        .btn {
            text-align: left;
            &:hover,
            &:focus,
            &.focus {
                box-shadow: none;
                color: $color-halloween;
            }
        }
        .container-fluid {
            padding: 0;
        }
        ul {
            display: block;
            a {
            display: block;
            width: 100%;
            border-right: 0;
             font-size:18px;
            font-weight: 600;
            padding: 8px 5px;
            border-bottom: 1px solid #ccc;
            
            
        }
            
            ul a { font-weight:400; font-size: 16px; border-bottom:0;
            }
        } 
        .custom-inline-input { margin-top:15px;}
        .custom-inline-input .fa.fa-search {
            font-size: 1.7rem;
        }
        
          
         
    }
    .topnav-action {
        font-size: 14px;
        width: 100%;
        clear: both;
        background: #fff;
        width: 100%;
        margin: 0;
        padding: 10px 0;
        display: none;
        .input-group .form-control {
            margin-bottom: 10px;
        }
    }
    .mobile-heading {
        img.logo { width:120px;}
        margin-left: 0;
        margin-right: 0;
        padding: 8px 15px;
        .sm {
            width: 220px;
            float: left;
            svg {
                max-height: 38px;
            }
        }
        > div {
            padding-left: 0;
            padding-right: 0;
        }
    }
    //.target-aud-link { border:0;}
}

// DESKTOP
@media (min-width: $screen-sm) {
    .custom-inline-input .fa.fa-search {
        margin-top: 3px;
    }
    .toggle-drop-container {
        text-align: right;
    }
    .mobile-heading {
        display: none;
    }
    .topnav {
        input.form-query.form-control {
            border: 0;
            padding-top: 4px;
            padding-bottom: 4px;
            height: 30px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
     
         
        .input-group-btn a {
            font-size: 1rem;
        }
    }
}