.breadcrumb { color: $brand-primary; font-family: $font-family-bold; padding-top: 0; padding-bottom: 30px; line-height: 1rem; 
    @extend .clearfix;
    li {float:left;}
    >.active, > li + li:before { color: inherit;}
    a { line-height: inherit; text-decoration: none; color:inherit;
        &:hover { text-decoration: underline;}
    }
}

.btn.orange-caret { text-transform: uppercase;font-family: $font-family-bold-italic; font-size:1.3rem; color:$color-halloween; white-space: normal; text-align: left; padding:0;margin:0;
    &:hover { text-decoration: underline;}
}

.sidebar { color:$color-heathergrey;
    
    strong, #{headings(all)} { color:$brand-primary;}
    
    .well ul, .well ol {    padding-left: 10px;
    margin-left: 10px;
        &.list-style-dash {  margin-left:0; padding-left:5px; }
    }

    h2 { font-size:1.5rem; line-height: 1.7rem; }
    h3 { font-size:1.3rem; line-height: 1.5rem; }
    
}

    .list-style-dash { 
      
    list-style: circle outside;
        list-style: none;
        margin-left:0;

li {
    padding-left: 15px;   position: relative; }
 
 li:before {
    content: '\2013';
    position: absolute;
    left: 0;
}
    }



.font-bold-italic { font-family: $font-family-bold-italic !important;}

@media (min-width:$screen-sm) {
    ul.divide-columns-2, ul.divide-columns-3 { list-style: none; padding:0;
        a { padding-bottom:5px; display: block;}
    }
    ul.divide-columns-3 {
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
    }
    ul.divide-columns-2 {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}



.directory-container {
    .custom-inline-input 
    { 
        margin-bottom:6px;
        input { @include border-radius(0); }
        .form-query { padding-left:45px;}
        .input-group-btn { border-right: 1px solid #ccc; width:35px; z-index: 3; bottom:0; left:0; padding:2px 0 0 6px;
            &:hover { background: $color-blue;
                button {color:#fff;}
            }
        }    
    }
    a.btn {
        margin-bottom:8px;
        float:left;
         border:0;
        padding: 3px 20px;
        font-size: 1.2rem; width:(50%); 
        @include border-radius(0);
        letter-spacing: .01rem; text-transform: uppercase;
        
        border-left: 4px solid #fff;
        &:first-of-type { border-right: 4px solid #fff; border-left:0;}
        &.background-orange {
            color:#fff;
            &:hover, &:focus, &:active { background: darken($color-halloween,10)}
        }
        &.background-gray {
            color:#fff;
            background-color:rgb(186,188,190);
            &:hover { background: darken(rgb(186,188,190),10)}
        }
    }
    .full-listing { width:100%;}
.directory.table, .bootstrap-table .directory.table, .fixed-table-container { 
    border:0 !important;
    td, th, tr, tbody, thead { border:0;}
    thead th { border-bottom: 1px solid $color-grey;} 
    td, th { width:10%;}
    tr > td:nth-of-type(5n+2) { width:20%;}
}
    .list-bold-center { margin: 5px auto; font-size: 1rem; font-weight: bold; text-decoration: none; text-align: center;
        .sortable li {
            float:none;
            a { text-decoration: inherit;  }
        }
    }
.sortable { 
    li { margin:0; padding:0;float:left;}
    a {padding: 2px 4px; display: block; color:$brand-primary;
        &.active { background:$color-halloween; color:#fff;}
        &:hover { background-color: $brand-primary; color:#fff;text-decoration: none; }
    } 
}
.clearfilter { background:$color-grey; border-radius: 3px;text-transform: uppercase; float:right; padding: 3px 6px; color:$color-heathergrey; text-decoration: none;font-size:.98rem;}
.btn .caret { padding:0;}
.pagination-detail { padding: 5px; color:$color-heathergrey; font-size:1rem;}
    div.pagination {
        padding:10px;
        li > a {
            color:$color-heathergrey;
            padding:2px 7px;
    border: 0;
        } 
        li.active > a { background:#aaa; color:#fff;}
    }
    tr.officealpha {border-top:10px solid #fff;}
    tr.officealpha:first-of-type { border-top:0;}
    tr.officealpha td {  background: $color-blue;
        h2 { color:#fff; font-size: 1.3rem; padding:0 10px; margin:0;}
    }
    tr.officealpha.officeempty td { background: #ccc;}
}

@media (max-width: $screen-ts-max) {
    .full-listing {
        td { width:100%; display:block; }
        tr td:first-child { border-top: 1px solid #ccc; padding-top:10px;}
        tr td:last-child { padding-bottom: 10px;}
        
    }
    
    .directory-container {
        a.btn, a.btn:first-of-type {
            border-left:0;border-right:0; margin-bottom:4px; width:100%;
        }
        .sortable a { padding: 4px 10px; width:32px;}
    }
}


.link-listing ul { @extend .list-unstyled; @extend .divide-columns-2; a { text-decoration: none; &:hover { text-decoration: underline;}} }

@media (min-width:$screen-md) {
.wide-gutter {

.row {
   
  margin-right: -50px;
  margin-left: -50px;
    
}
.row > [class^="col-"],  .row > [class^=" col-"] {
  padding-right: 50px;
  padding-left: 50px;
    
} 
}
}

.story-boxes {
    p a { clear:both; font-size:1rem; padding: 0 0 5px 0; width:100%; display: block; font-family: $font-family-bold; font-size:1.25rem; text-decoration: none; }
    .row > div {padding-bottom:30px;}
}

.minimal-pagination { 
    font-family: $font-family-italic;
    .pagination > li a { border:0;} 
    .pagination > li a { text-decoration: underline; }
    .pagination > li.active a { background-color:transparent; color:$brand-primary;  text-decoration: none; color:#000; }
    .disabled { display: none;}
}