#header {
    //background-color: $color-header-bg;
    position: relative;
    margin-top: -40px;
    background-color: rgb(242,242,232);
    width: 100%;
    padding: 0;
    * {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    a:hover {
        cursor: pointer;
    }
    svg { display: block;}
}
#mobile_search input,
#search input {
    background-color: #e4e4e4;
}
#mobile_search input:focus,
#search input:focus {
    background-color: #fefefe;
}
button#searchformboxgo {
    color: $color-blue;
    text-transform: uppercase;
    border: solid 1px #f0ad00;
    font-size: 12px;
    width: 37px;
    padding: 2px 5px 2px 4px;
    margin-left: 3px;
    background: #f4c240;
    line-height: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #f6d473;
    cursor: pointer;
}

@media (min-width: $screen-sm) {
    header .sitelogo .sm {
        max-width: 580px;
        margin: 0 auto;
    }
    #header.wrapper { line-height: 1rem; color:$brand-primary;}
    header h1 { margin: 0; padding:0; line-height: 1rem;}
}
.sitelogo {
    position: relative;
    width: 120px;
    padding-left:30px;
    //top: -40px;
    z-index: 4;
    padding-bottom:10px;
    float:left;
}
#header-tools {
    padding-top: 30px;
    nav {
        padding-top: 5px;
    }
}
#search input.form-control,
#search .btn {
    height: 24px;
    padding: 2px 13px;
}
.btn.btn-search {
    color: #fff;
    background-color: $color-green;
    border-color: $color-green;
}

@media (max-width: $screen-xs-max) {
    #header {
        display: none;
    }
}
#searchbox {
    .btn.btn-search:hover {
        background-color: darken( $color-green, 10%);
        border-color: darken( $color-green, 10%);
    }
}
@media (min-width: $screen-md) {
    #searchbox {
        padding-top: 10px
    }
}

.flex-header {
     display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    
}
.site-logo, #yamm-placeholder {
     flex-wrap: wrap;
    align-self: flex-end;
}