/* support for edge-to-edge banner */

.container-fluid.main-banner {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}
.slick-slide,
.slick-slide > div {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    img {
        width: 100%;
    }
}
.slick-slide {
    position: relative;
    //border:1px solid #0f0;
}
/* caption styles */

.slick-next,
.slick-prev {
    display: none;
}
.slick-slide {
    .caption {
        margin: 0 auto;
        text-align: center;
        max-width: 1100px;
        //position: absolute;
        position: relative;
        //border-bottom:3px solid #f00;
        //bottom:200px;
        color: #fff;
        font-family: $font-family-bold-italic;
        font-size: 5rem;
        //background-color: rgba(94, 94, 94, 0.8);
        text-shadow: 0 0 15px #333;
        width: 100%;
        display: block;
        padding: 0;
         
        a {
            -webkit-transition-property:color, text;
            -webkit-transition-duration: .3s, .3s;
            -webkit-transition-timing-function: linear, ease-in;
            -moz-transition-property:color, text;
            -moz-transition-duration:.3s;
            -moz-transition-timing-function: linear, ease-in;
            
            -ms-transition-property:color, text;
            -ms-transition-duration:.3s;
            -ms-transition-timing-function: linear, ease-in;

            -o-transition-property:color, text;
            -o-transition-duration:.3s;
            -o-transition-timing-function: linear, ease-in;
            transition-property:color, text;
            transition-duration:.3s;
            transition-timing-function: linear, ease-in;
             
            color: inherit;
            &:hover { color:$color-halloween; }
        }
        .read-more {
            text-transform: uppercase;
            font-size: .7rem;
            letter-spacing: .02em;
            margin-left: .5rem;
        }
    }
    .caption > div { 
        position: absolute;
        right: 0;
        left: auto;
        padding: 50px;
        bottom: 0;
        margin-bottom: 10%;
        right: auto;
        display: block;
        width: 100%;
    }
    .embed-responsive { padding-bottom:33.5%;}
    video::-webkit-media-controls-panel {         display: none !important;     }
    
}
@media (min-width:1400px) {
    .slick-slide .caption > div { margin-bottom:22%; }
}
@media (max-width:$screen-sm) {
    .slick-slide .caption > div { margin-bottom:5%; }
    .video-container { display: none;}
}
@media (max-width: $screen-sm-max) {
    .slick-slide {
        .caption {
            font-family: $font-family-italic;
        }
    }
}
@media (max-width: $screen-sm-max) {
    .slick-slide {
        .caption {
            font-size: 3rem;
            line-height: 3rem;
            > div {
                //text-align:right; padding:20px; margin-bottom: 0;
            }
        }
        
    }
}
@media (max-width: $screen-ts-max) {
    .slick-slide .caption > div {
        text-align: right;
        padding: 20px;
        margin-bottom: 0;
    }
}
@media (min-width: $screen-sm) {
    .slick-slide {
        .caption {
            //bottom: 100px;
            position: relative;
            z-index: 30;
            height: auto;
            padding: 0;
            display: block;
        }
    }
}
.caption-theme-light {
    color: #000;
    font-size: 1rem;
    background-color: rgba(248, 248, 248, 0.80);
    text-shadow: none;
    width: 100%;
    display: block;
    a {
        color: $color-link
    }
}
/* feature themes */

.slick-slider {
    width: 100%;
    height: auto;
    clear: both;
    display: block;
} 

.slick-slider {
    background-position: 50% 50%;
    background-image: url("../images/ajax-loader.gif");
    background-repeat: no-repeat;
}
.slick-slider.slick-initialized {
    background: none;
}
.slick-slider > div > .caption, .slick-slider > div { display:none; -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;}
.slick-slider > div:first-child { 
    display:block; 
     }
.slick-slider.slick-initialized .slick-list, .slick-slider.slick-initialized .slick-track { 
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1; 
    position: relative;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition:  opacity 0.5s ease-in;
    -o-transition:  opacity 0.5s ease-in;
    -ms-transition:  opacity 0.5s ease-in;
    transition:  opacity 0.5s ease-in;
    
}

.slick-slider {
    a[href*="youtube.com/watch?"], a[href*="sevenload.com/videos/"], a[href*="metacafe.com/watch/"], a[href*="video.google.com"], a[href$='.mov'], a[href$='.wmv'], a[href$='.mp4'], a[href$='.avi'], a[href$='.mpg'] {
        padding:0;
    }
}