 

.sprite { background: url('../images/structure/sprite50.png') no-repeat top left; width: 25px; height: 25px;  display:inline-block; } 
.sprite.list_icon_doc { background-position: 0 0; } 
.sprite.list_icon_pencil { background-position: 0 -26px; } 
.sprite.list_icon_money { background-position: 0 -52px; } 
.sprite.list_icon_cap { background-position: 0 -78px; } 
.sprite.list_icon_home { background-position: 0 -104px; } 
.sprite.list_icon_spc { background-position: 0 -130px; } 
.sprite.list_icon_check { background-position: 0 -156px; } 
.sprite.icon_arrow_white { background-position: 0 -182px; } 
.sprite.icon_arrow_primary { background-position: 0 -208px; } 
.sprite.icon_fa_user { background-position: 0 -234px; } 
.sprite.icon_fa_facebook { background-position: 0 -260px; } 
.sprite.icon_fa_twitter { background-position: 0 -286px; } 
.sprite.icon_fa_instagram { background-position: 0 -312px; } 
.sprite.icon_fa_pinterest { background-position: 0 -338px; } 
 